name: CI

on:
  push:
    branches:
      - main
    

jobs:
  build:
    name: 'Build and push'
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v5
    
    - name: Setup node
      uses: actions/setup-node@v6
      with:
        node-version: 22
    - run: npm install
    - run: npm run test