name: CI

on:
  push:
    branches:
      - main
    

jobs:
  build:
    name: 'Build and push'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 18, 20, 22 ]
    
    steps:
    - uses: actions/checkout@v5
    
    - name: Setup node | ${{ matrix.node }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node }}
    - run: npm install
    - run: npm run test

    - name: Generate tag
      id: generate_tag
      run: |
        SHA=$(echo $GITHUB_SHA | head -c7)
        echo "sha=$SHA" >> $GITHUB_OUTPUT

    - name: Build docker image
      run: docker build -t rocketseat-ci-api:${{ steps.generate_tag.outputs.sha }} .